# **List Comprehension**

In [ ]:
list = [x for x in range(1,11)]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
doubles = [x*2 for x in list]
doubles

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
fruits = ["apples", "oranges", "mangoes", "berries", "bananas"]
fruits_in_capitals = [fruit.upper() for fruit in fruits]
fruits_in_capitals

['APPLES', 'ORANGES', 'MANGOES', 'BERRIES', 'BANANAS']

### **Filter if**

In [ ]:
fruits_back_in_simple = [fruit.lower() for fruit in fruits_in_capitals if fruit[0] not in ["A","E","I","O","U"]] # else isn't valid
fruits_back_in_simple

['mangoes', 'berries', 'bananas']

### **Conditional if else**

In [ ]:
fruits_back_in_simple_but_all_elements = [fruit.lower() if fruit[0] not in ["A","E","I","O","U"] else fruit for fruit in fruits_in_capitals]
fruits_back_in_simple_but_all_elements

['APPLES', 'ORANGES', 'mangoes', 'berries', 'bananas']

In [ ]:
categories = [f"Even : {x+1}" if (x+1) % 2 == 0 else f"Odd : {x+1}" for x in range(10)]
categories

['Odd : 1',
 'Even : 2',
 'Odd : 3',
 'Even : 4',
 'Odd : 5',
 'Even : 6',
 'Odd : 7',
 'Even : 8',
 'Odd : 9',
 'Even : 10']

### **For Muti-Dimensional Lists**

In [ ]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

flattened = [num
             for row in matrix
             for num in row]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Dictionary Comprension**

In [ ]:
pairs = [('a',1) , ('b',2), ('c',3)]
this_dict = {key:value for key,value in pairs}
this_dict

{'a': 1, 'b': 2, 'c': 3}

# **Set Comprehension**|

In [ ]:
nums = [1,2,2,3,3,3,4,4,4,4]
uniq_sqrs = {x**2 for x in nums}
uniq_sqrs

{1, 4, 9, 16}

# **Generator Comprehension**

In [ ]:
sum_of_sqrs = sum(x**2 for x in range(1,10001))
sum_of_sqrs

333383335000

# **Working with Dates**

In [ ]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 9, 6, 6, 17, 12, 24071)

In [ ]:
print(f"{now:%x}")

09/06/25

In [ ]:
print(f"{now:%c}")

Sat Sep  6 06:17:12 2025

In [ ]:
print(f"{now:%H:%M:%S}")

06:17:12